$header-background: #CCFFCC;
$code-background: #140514;
$console-background: #CCFFCC;
$console-text-color: #181818;
$console-toolbar-background: $header-background;
$console-toolbar-text-background: #fff;
$tab-background: #B8F6B8;
$current-tab-background: #A2B6A2;
$tab-text-color: #FFF;
$current-tab-text-color: #FFC857;

$header-height: 70px;
$console-toolbar-height: 50px;

$console-font-family: Inconsolata, Menlo, Consolas, monospace;
